/* Font */

@font-face {
  font-family: "ralewaythin";
  src: url("raleway-variablefont_wght-webfont.woff2") format("woff2"),
    url("raleway-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "ralewaythin", sans-serif;
}

#main {
  margin: 0 50px 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 700;
}

.flex {
  display: flex;
}

/* Header */

header {
  justify-content: space-between;
  margin-bottom: 35px;
}

.logo {
  margin-top: 30px;
  flex: 1;
}

nav li {
  padding-top: 40px;
}

nav a {
  padding: 40px 30px 0;
}

nav li:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.signUp {
  color: #0065fc;
  font-weight: 700;
  padding: 40px 40px 0;
}

/* Search bar */

.search {
  margin-bottom: 30px;
}

.search h2 {
  margin-bottom: 10px;
}

.search p {
  margin-top: 10px;
}

.searchBar {
  margin-bottom: 30px;
  height: 45px;
}

.containerMarker {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  flex-shrink: 0;
}

.containerMarker i {
  margin: auto;
  font-size: 1.2rem;
}

input {
  border: 2px solid #f2f2f2;
}

.searchButton {
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  flex-shrink: 0;
}

input::placeholder {
  color: black;
  font-size: 15px;
  font-weight: bolder;
  padding-left: 10px;
}

/* Filters */

.textFilter {
  align-self: center;
}

.filters {
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.filter {
  align-items: center;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.filter span {
  padding-left: 12px;
}

.filter:hover {
  cursor: pointer;
  color: #0065fc;
  background-color: #deebff;
}

.filterList {
  flex-wrap: wrap;
}

.iconFilter {
  position: relative;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
}

.iconFilter i {
  padding-left: 15px;
  padding-top: 15px;
}

.iconInfo {
  height: 20px;
  width: 20px;
  border: 1px solide #f2f2f2;
  border-radius: 1rem;
  margin-right: 10px;
}

.iconInfo i {
  margin: auto;
  font-size: 0.9rem;
  color: #0065fc;
}
